@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blackv: #1A1A1A;
  --redv: #A26769;
  --grayv: #DBDBDC;
  --whitev: #F7F7F8;
  --greenv: #95AEAE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html, body {
  @apply h-full overflow-hidden select-none m-0;
}

.slider-track{
  @apply h-3 top-0 bg-[color:var(--grayv)] rounded-xl;
}

.slider-track.slider-track-0 {
  @apply bg-[color:var(--greenv)];
}

.slider-thumb:hover{
  @apply shadow-[0_0_0_8px_rgba(149_174_175_/_0.3)];
}